.pages{
    margin-top: 10px;
}

.pages-btn{
    margin: 7px;
    margin-bottom: 15px;
    padding: 7px;
    color: #79B724;
    font-size: 30px;
    background-color: #063137;
    border-radius: 50%;
    transition: box-shadow .5s;
}

.pages-btn:hover{
    box-shadow: 0 0 15px #4d7416;
    transition: box-shadow .5s;
}

.pages-p{
    font-size: 23px ;

}